recursive-include pitopd/assets/ *
recursive-include pitopd/scripts/ i2s.sh

recursive-exclude * __pycache__
recursive-exclude * *.py[co]
recursive-exclude * *~
recursive-exclude * .coverage
recursive-exclude * .DS_Store
recursive-exclude * .ropeproject
