Source: pi-topd
Section: utils
Priority: optional
Maintainer: pi-top <deb-maintainers@pi-top.com>
Build-Depends:
 debhelper-compat (= 12),
 dh-sequence-python3,
 python3-all,
 python3-setuptools,
Standards-Version: 4.5.1
Homepage: https://pi-top.com/

Package: pi-topd
Architecture: all
Depends:
 ${misc:Depends},
 ${python3:Depends},
# Configure sound settings
 alsa-utils,
# Hardware interface management for devices and peripherals
 raspi-config,
Suggests:
 pi-topd-extra,
Description: pi-top System Daemon
 Core pi-top service for interfacing with pi-top hardware.
 Provides support for management of all pi-top units.
 Depending on which pi-top device you are using, it is possible
 to communicate with the device's onboard interfaces, such as power
 and display.
 .
 Additional functionality is provided to communicate with the system,
 such as automatically blanking the display after a timeout.

Package: pi-topd-extra
Architecture: all
Depends:
 ${misc:Depends},
 pi-topd-notify,
 pi-topd-screen-blank,
Description: Additional pi-topd Support (e.g. Desktop Components) dummy package
 Provides additional functionality to pi-topd, primarily for displays.

Package: pi-topd-notify
Architecture: all
Depends:
 ${misc:Depends},
# Low battery warnings
 notify-send-ng,
Description: pi-topd Notification Support dummy package
 Provides notification support for pi-topd.

Package: pi-topd-screen-blank
Architecture: all
Depends:
 ${misc:Depends},
# User idle time
 xprintidle,
Description: pi-topd Display Blanking Support dummy package
 Provides display blanking support for pi-topd.
