Source: pt-device-manager
Section: utils
Priority: optional
Maintainer: pi-top <deb-maintainers@pi-top.com>
Build-Depends:
 debhelper-compat (= 12),
 dh-sequence-python3,
Standards-Version: 4.5.0
Homepage: https://pi-top.com/

Package: pt-device-manager
Architecture: any
Depends:
 ${misc:Depends},
 ${python3:Depends},
# Used for 'ischroot' command in preinst
 debianutils (>= 4.8.6.1),
# Common functions
 python3-pitop.utils,
# Journal handling
 python3-systemd,
# System state change communication
 python3-zmq,
# Hub management
 python3-smbus,
 python3-spidev,
Suggests:
# Command line tools
 python3-pitop,
# Low battery warnings
 pt-notifications,
# User idle time
 xprintidle,
Replaces:
 pt-os-mods (<< 8),
Breaks:
 pt-os-mods (<< 8),
Description: pi-top Device Manager
 Core pi-top service for interfacing with pi-top hardware
