[Unit]
Description=pi-top System Daemon
Documentation=https://knowledgebase.pi-top.com/knowledge

[Service]
Type=notify
Restart=on-failure
Environment="PT_LOG_BATTERY_CHANGE=0"
Environment="PYTHONUNBUFFERED=1"
Environment="PYTHONDONTWRITEBYTECODE=1"
ExecStart=/usr/lib/pi-topd/pi-topd

[Install]
WantedBy=multi-user.target
