[Unit]
Description=pi-top reboot detection to disable bootup device identification
DefaultDependencies=no
Before=reboot.target

[Service]
Type=oneshot
ExecStart=/usr/bin/touch /etc/pi-top/pt-hub/reboot.state

[Install]
WantedBy=reboot.target