[Unit]
Description=pi-top device auto-detection and configuration daemon

[Service]
Restart=always
ExecStart=/usr/lib/pt-device-manager/pt-device-manager
Environment="DISPLAY=:0.0"

[Install]
WantedBy=multi-user.target
