[Unit]
Description=pi-top desktop message service

[Service]
Restart=always
ExecStart=ExecStart=/usr/lib/pt-device-manager/pt-desktop-message-service
Environment="DISPLAY=:0.0"

[Install]
WantedBy=multi-user.target

