[Unit]
Description=pi-topHUB shutdown announcement
DefaultDependencies=no
Before=umount.target
After=multi-user.target

[Service]
Type=oneshot
ExecStart=/usr/bin/poweroff

[Install]
WantedBy=halt.target poweroff.target
