[Unit]
Description=pi-topHUB shutdown announcement
DefaultDependencies=no
Before=umount.target
After=multi-user.target
Documentation=https://knowledgebase.pi-top.com/knowledge

[Service]
Type=oneshot
Environment="PYTHONUNBUFFERED=1"
Environment="PYTHONDONTWRITEBYTECODE=1"
ExecStart=/usr/lib/pt-device-manager/pt-poweroff

[Install]
WantedBy=halt.target poweroff.target
