[Unit]
Description=pi-top[4] reboot announcement
DefaultDependencies=no
Documentation=https://knowledgebase.pi-top.com/knowledge

[Service]
Type=oneshot
Environment="PYTHONUNBUFFERED=1"
Environment="PYTHONDONTWRITEBYTECODE=1"
ExecStart=/usr/lib/pt-device-manager/pt-reboot

[Install]
WantedBy=reboot.target
