[Unit]
Description=pi-top xhost fix

[Service]
User=pi
Group=pi
ExecStart=/usr/bin/xhost local:root
Environment="DISPLAY=:0.0"
Restart=on-failure
RestartSec=1s

[Install]
WantedBy=multi-user.target
