[Unit]
Description=pi-top xhost fix
After=pt-update-installer.service

[Service]
User=pi
Group=pi
ExecStart=/usr/bin/xhost local:root
Environment="DISPLAY=:0.0"
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=graphical.target
