#!/usr/bin/make -f

SUBSTVARS = -Vshlibs:Depends="libc6 (>= 2.7), libglib2.0-0 (>= 2.31.8), libgtk2.0-0 (>= 2.12.0)"

%:
	dh $@ --with python3 --with systemd


override_dh_strip:
	dh_strip -Xpoweroff-legacy

override_dh_installinit:
	dh_installinit --noscripts

override_dh_systemd_enable:
	dh_systemd_enable --name=pt-device-manager
	dh_systemd_enable --name=pt-oled-startup-anim
	dh_systemd_enable --name=pt-poweroff --no-enable
	dh_systemd_enable --name=pt-poweroff-legacy --no-enable

override_dh_systemd_start:
	dh_systemd_start --name=pt-device-manager
	dh_systemd_start --name=pt-oled-startup-anim --no-start
	dh_systemd_start --name=pt-poweroff --no-start
	dh_systemd_start --name=pt-poweroff-legacy --no-start

override_dh_gencontrol:
	dh_gencontrol -- $(SUBSTVARS)
