#!/usr/bin/make -f
%:
	dh $@ --with python3 --with=systemd


# Added because poweroff executable binary 
override_dh_strip:
	dh_strip -Xpoweroff
	
override_dh_installinit:
	dh_installinit --noscripts --name=pt-device-message
	dh_installinit --noscripts --name=pt-desktop-message-service
	dh_installinit --noscripts --no-start --name=pt-poweroff